src/main/mule/weather-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="weather-sapi-main">
        <http:listener path="/*" config-ref="weather-sapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-sapi-config"/>
        <error-handler ref="error-handling-apikit" />
    </flow>
    <flow name="get:\getCurrentWeather\(city):weather-sapi-config">
		<ee:transform doc:name="setup baseurl" doc:id="02b9581b-f9a6-4818-871c-d751bc8da45e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="baseUrl" ><![CDATA["http://api.openweathermap.org/geo/1.0/direct?q=" ++ attributes.uriParams.'city' ++ "&appid=" ++ p('secure::openWeatherApi.appid')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="getWeatherCity SubFlow" doc:id="28eaf71c-8c75-432d-ae48-aaecab9f1779" name="getWeatherCitySub_Flow"/>
		<ee:transform doc:name="Build Log JSON" doc:id="71f48bcb-3a00-4116-87e4-b5a116e105e5">
    <ee:message>
    </ee:message>
			<ee:variables >
				<ee:set-variable variableName="log_message" ><![CDATA[%dw 2.0
output application/json
---
{
  "@timestamp": now(),
  "application_name": "sapi-weather-app-" ++ p('mule.env'),
  "environment": p('mule.env'), 
  "request_uri": vars.baseUrl,
  "body_input": vars.inputRequest default null,
  "body_output": payload,
  "correlation_id": correlationId,
  "http_code": attributes.statusCode,
  "method": "GET"
 }     ]]></ee:set-variable>
			</ee:variables>
</ee:transform>

<flow-ref name="log-to-elastic" targetValue="#[vars.log_message]" doc:name="Flow to log to platform"/>
		<error-handler ref="error-handling-app" />
    </flow>
</mule>